.container-home {
    border-style: solid;
    border-width: 0.05em;
    border-color: #ebebeb;    
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em; 
    margin-right: 2em; 
}

.buttons-wrapper Button {
    width: 80%;
}

